
.angnavbar{ border:1; background:black;  line-height:20px; width:100%; position:fixed;   }

#arhead{ padding-left:50px; color:white; }

#hl{ padding-left:700px; color:white;   }

#pl{ padding-left:30px; color:white;   }

#ll{  padding-left:30px; color:white;  } 

