
.web-layout{ margin:60px;  display:flex; border:thick; width:80%; height:120%;
    
    background-color:rgb(218, 209, 209);  flex-direction:row; flex:1;    }


 .sidebar{ width:200px; float:left; background:white; min-height:500px;  display:flex;

             flex-direction:column; } 
   
 
  h5{ text-align:left; }
  
  .ul-1{  list-style-type:none; color:black; }

  .home-bullet,.art-bullet,.songs-bullet,.packs-bullet,.cat-bullet {  height:10px; width:10px; } 

   .ul-2{ list-style-type:none;  color:black;  font-family:'Times New Roman', Times, serif;
    
                font-size:16px;} 
    
  .act-img-1,.act-img-2,.act-img-3{height:18px; width:18px;} 

  .act-link-1,.act-link-2,.act-link-3{ text-align:left;  color:black;  padding-left:10px;} 
    
.navigation{ height:80px; background:rgb(243, 239, 247); width:900px; float:right; 
         
           padding-left:10px; border:1;} 

 .all-link,.featured-link, .top-link  {padding-left:30px;  padding-bottom:50px; } 
  
 .image-divison-1  { width:80%; height:50%;display:flex; flex:1; margin-bottom:10px} 
  
 .artist-image-1,.artist-image-2,.artist-image-3,.artist-image-4 
   
 { padding-left:20px; padding-top:30px; display:flex; flex:1;  margin:10px; width:200px;
   
    height:200px; }

    .image-divison-2 { width:80%; height:50%;display:flex; flex:1; padding-top:150px; } 
   
   .artist-image-21,.artist-image-22,.artist-image-23,.artist-image-24 
   
   { padding-left:20px; padding-top:40px; display:flex; flex:1; margin:10px; width:200px; 
    
      height:200px; }
                      
   .image-divison-3  { width:80%; height:50%;display:flex; flex:1; padding-top:150px; }

   .artist-image-31,.artist-image-32,.artist-image-33,.artist-image-34 
      
   { padding-left:20px; padding-top:80px; display:flex; flex:1; margin:10px; width:200px;
    
     height:250px; }
                      
     .image-divison-4  { width:80%; height:50%;display:flex; flex:1; padding-top:140px;
        
        margin-right:10px; margin-bottom:10px;    }
        
   .artist-image-41,.artist-image-42,.artist-image-43,.artist-image-44  
   
   { padding-left:20px; padding-top:150px; display:flex; flex:1;  margin:10px; width:200px;
    
     height:350px; }

 h3{  padding-left:30px;  }


