
  <br> <br>
  
  <div class="top-layout"   >       
     <div class="top-layout2"  >
         <h1> <th> Welcome to Bitling News Login  </th> </h1> 
              
         <div class="login-form>">
          
            
                  <h3> Username: </h3><th> <input type="textbox"  name="uname" class="uname-fill" /> 
                  </th>
            
             
            <br>      
          
            
                <h3>Password: </h3> <input type="textbox" class="pword-fill" name="pword" />
               
             
            
            
              <br> <br> &nbsp; &nbsp; &nbsp; 
                        &nbsp; &nbsp; &nbsp; 
                         &nbsp; &nbsp; &nbsp; 
                         &nbsp; &nbsp; &nbsp; 
                         &nbsp; &nbsp; &nbsp; 
               
              <input type="button" name="subbtn" class="looginbtn" value="Login" />   
          
            </div>

     </div>
  
  </div>